<footer class="site-footer">
  <div class="container">
    <div class="footer left column one-half">
      
      <section class="small-font">
        <em><p>Life must be understood backwards, but it must be lived forwards</p></em>
        <p><b> Sören Kierkegaard on Journals and Papers, 1843 <b></p>
      </section>
    </div>

    <div class="footer right column one-half">
      <section class="small-font">
        {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
        <!-- {% endif %}
        {% if site.twitter_username %}
        {% include icon-twitter.html username=site.twitter_username %}
        {% endif %} -->
      </section>
    </div>
  </div>
</footer>
